body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #ed09a5;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

/* Estilo para o Banner */
.banner {
    text-align: center;
    margin-bottom: 20px;
}

.banner img {
    width: 100%;
    height: auto;
}

/* Estilo para a Mensagem de Boas-Vindas */
.bem-vindo {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
    margin-top: -10px;
}

.bem-vindo h2 {
    font-size: 2.5em;
    margin: 0 0 10px 0;
}

.bem-vindo p {
    font-size: 1.2em;
    color: #555;
}

#roupas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.produto {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 200px; /* Largura fixa para os produtos */
}

.produto img {
    width: 100%;
    height: auto;
}

.produto h3 {
    margin: 10px 0;
}

.produto .preco {
    color: green;
    font-weight: bold;
}

/* Estilo do Carrinho */
.modal {
    display: none; /* escondido */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Fundo escuro */
}
.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilo para o Corpo da Página */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* Estilo para o Conteúdo Principal */
main {
    flex: 1; /* Faz com que o main ocupe o espaço restante */
    padding: 20px;
}

/* Estilo para o Rodapé */
footer {
    background-color:#ed09a5;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background-color: #5df34d;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color:#5df34d;
}
